<mat-card id="mememon-field">
    <mat-card-content *ngIf="!dead">
      <mat-card id="mememon-showed" *ngIf="mememonAppeared">
        <mat-card-title *ngIf="!catchFailed">A wild <strong>{{mememon.name}}</strong> appeared!</mat-card-title>
        <mat-card-title *ngIf="catchFailed">Oh no! <strong>{{mememon.name}}</strong> dodged your Memeball!</mat-card-title>
        <mat-card-subtitle>Name: {{mememon.name}}, Strength: {{mememon.strength}}</mat-card-subtitle>
        <mat-card-content>
          <img class="mememon" [src]="mememon.mememonImagePath">
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-raised-button color="primary" (click)="catchMememon()">Catch!</button>
          <button mat-raised-button color="secondary" (click)="run()">Run</button>
        </mat-card-actions>
      </mat-card>
    </mat-card-content>
    <mat-card-content *ngIf="dead">
      <mat-card id="dead" *ngIf="dead"></mat-card>
    </mat-card-content>
</mat-card>
