<mat-card id="memedex">
  <mat-card-title>Memedex</mat-card-title>
  <mat-card-subtitle>Memes you've caught</mat-card-subtitle>
  <mat-card-content layout="row">
    <img *ngFor="let mememon of mememonsCaught" class="memedex-mememon" [src]="mememon.mememonImagePath">
  </mat-card-content>
</mat-card>
